main>article {
    height: 100vh;
    margin-left: 5%;
    max-width: 90%;
    /* border: 1px solid red; */
}


/* Project section */

.container {
    --text-color: #222526;
    --gap: 50px;
    --height: 200px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    gap: var(--gap);
    min-height: 50%;
    margin-top: calc(var(--height) / 2);
    /* border: 1px solid red; */
}

.container .card {
    position: relative;
    cursor: pointer;
    min-width: 300px;
    max-width: 10%;
    height: var(--height);
    margin-bottom: calc(var(--height) / 2 - var(--gap));
    /* border: 1px solid red; */
}

.container .card section {
    width: 100%;
    height: 100%;
    transition: .5s ease;
    /* border: 1px solid red; */
}


/* General styles */

.container .card .content {
    height: 100%;
    padding: 5%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    gap: calc(var(--height) / 25);
}


/* Top */

.container .card .top {
    position: relative;
    background: #333;
    z-index: 1;
}

.container .card .top .content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.container .card .top .content img {
    max-height: calc(var(--height) / 1.69);
    max-width: 75%;
    opacity: .2;
    transition: .5s ease;
}

.container .card .top .content h3 {
    color: var(--primary-text-color);
    text-align: center;
    font-size: 1.5em;
}


/* Bottom */

.container .card .bottom {
    background: #FFFAFA;
    transform: translateY(-100%);
}

.container .card .bottom .content {
    justify-content: space-between;
}

.container .card .bottom .content p,
.container .card .bottom .content button {
    color: var(--text-color);
}

.container .card .bottom .content p {
    font-size: 1.3rem;
    display: -webkit-box;
    max-height: 90%;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}

.container .card .bottom .content button {
    margin: 5% 0 0;
    padding: 5px;
    border: 1px solid #333;
    border-radius: 3px;
    background-color: transparent;
    color: #333;
    font-weight: 700;
    font-size: 1.5rem;
    text-decoration: none;
    transition: .2s ease;
    cursor: pointer;
}


/* Hover */

.container .card:hover .top {
    background: #3290CE;
    transform: translateY(-50%);
}

.container .card:hover .top .content img {
    opacity: 1;
}

.container .card:hover .bottom {
    transform: translateY(-50%);
}

.container .card .bottom .content button:hover {
    color: red;
}